div.navbar.navbar-inverse.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Mozilla One and Done
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/tasks") Tasks
        li
          a(href="/leaderboard") Leaderboard
      ul.nav.navbar-nav.navbar-right
          if user
            li
              p.navbar-text Welcome 
                span.user= user.split("@")[0]
            li
              a#logout.text-primary(href='/logout'): u Logout
          else
            li
              form#login-form(action="/auth", method="POST")
                input#assertion-field(type="hidden", name="assertion", value="")
                input(type="hidden", name="_csrf", value=csrf)
            li
              a#browserid(href='#') Sign in
