div.navbar.navbar-inverse.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Mozilla One and Done
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/tasks") Tasks
        li
          a(href="/leaderboard") Leaderboard

      div.navbar-right
        if user
          div.navbar-text Welcome&nbsp;
            span.user= _locals.user
          form.navbar-form.form-inline.pull-right(role="form")
            div.form-group
              a.button(href='/logout') Sign out
        else
           form.navbar-form#login-form(action="/auth", method="POST")
              input#_authToken(type="hidden", name="_authToken", value="")
              input#_email(type="hidden", name="_email", value="")
              input#_id(type="hidden", name="_id", value="")
              input#_md5_hash(type="hidden", name="_md5_hash", value="")
              a.button(href="javascript:login('persona', '#{_locals.db_base_url}')") Sign in
