extends layout

block jumbotron
  header.jumbotron
    div.container
      h1 Mozilla One-and-Done
      p.
        The "One and Done" initiative, previously known as "QA Taskboard", is a workflow where Mozilla community contributors can pick tasks and work on them - one at a time, one day at a time - and feel good about doing them.


block content
  p.lead
    Mozilla QA sees the "One and Done" initiative as a way for Mozilla community contributors to get introduced to various projects and then to become involved in an area of their interest.

  p.
    Contributors would be able to find their voice in the community, be able to engage meaningfully, and feel rewarded for their contribution.
