extends layout

block content
  header.jumbotron.alert.alert-info
    div.container

      h1 One and Done
        br
        small Contribute to Mozilla QA &mdash; one task at a time, one day at a time.

      // include partials/dino

      img.pull-left.ico(src="/images/qmo.png")

      p.lead Come and make a meaningful contribution to Mozilla QA daily based on your time availability and skill level. Work with us to improve the quality of what we produce and feel rewarded.

      p.pull-right [Sign in with Mozilla Persona]

  div.row
    div.col-md-6.col-md-offset-3
      hr

  div.row
    div.col-xs-12.col-md-8
      h2 Our Teams

      div.row
        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/automation")
                img(src="/images/automation-150x150.jpg")
                p Automation
          p We build automated tests to run against Mozilla websites to make sure they are working as expected.

        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/desktop-firefox//")
                img(src="/images/firefox-150x150.jpg")
                p Desktop QA
          p We test Desktop Firefox for new features and resolved issues before release.

        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/web-qa/")
                img(src="/images/webqa-150x150.jpg")
                p Web QA
          p We ensure that all Mozilla websites are high quality, secure, and user friendly.

        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/thunderbird/")
                img(src="/images/thunderbird-150x150.jpg")
                p Thunderbird
          p We test the Thunderbird mail client for resolved issues before release.

        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/services/")
                img(src="/images/services-150x150.jpg")
                p Services QA
          p We test Mozilla's private and secure user-controlled services for Firefox, desktop and mobile.

        article.col-xs-12.col-sm-6.col-md-4
          header
            h3
              a(href="https://quality.mozilla.org/teams/mobile/")
                img(src="/images/mobilefirefox-150x150.jpg")
                p Mobile Firefox
          p We test Firefox for Android and Firefox OS, a new mobile operating system.


    div.col-xs-12.col-md-4
      div.well
        include partials/leaderboard-partial

  div.row
    div.col-md-6.col-md-offset-3
      hr

  div
    h2 Get Involved
    p.lead You can help us with tasks like looking for bugs in the software we produce, helping us triage them in our bug tracking tool, creating new test cases, execiting test cases on early releases, automating our tests, and participating in our test days.

block inlinescript
  script.
    $('.leaderboard-table tbody tr:first-child').addClass("success").children("td").addClass("text-success");