extends layout

block content
  header.jumbotron.alert.alert-info
    div.container
      div.pull-right.ico.dino
        // RAWR!
        span(style="color:#f00;") &#xe001;
        span(style="color:#fff;") &#xe002;
        span(style="color:#000;") &#xe003;

      h1 Mozilla One and Done

      p The "One and Done" initiative, previously known as "QA Taskboard", is a workflow where Mozilla community contributors can pick tasks and work on them - one at a time, one day at a time - and feel good about doing them.

  div.row
    div.col-xs-12.col-md-8
      p.lead Mozilla QA sees the "One and Done" initiative as a way for Mozilla community contributors to get introduced to various projects and then to become involved in an area of their interest.

      p Contributors would be able to find their voice in the community, be able to engage meaningfully, and feel rewarded for their contribution.

      hr

      p Retro asymmetrical Banksy raw denim, cupidatat shabby chic Marfa hella sint disrupt fixie sartorial ethical church-key kogi. Sartorial twee artisan, viral pariatur Echo Park assumenda polaroid et High Life semiotics street art DIY qui. Polaroid viral Banksy minim banjo Portland Wes Anderson voluptate DIY aesthetic McSweeney's Austin Cosby sweater. Selfies paleo laborum, fingerstache Odd Future cornhole jean shorts actually semiotics placeat. Ennui direct trade fanny pack scenester, cred Schlitz sriracha small batch lo-fi shabby chic skateboard pariatur qui. Master cleanse officia kogi, hashtag viral consequat ugh. Proident Schlitz hella sriracha.

      p Chia dreamcatcher scenester vegan. Dolore actually put a bird on it, quinoa vero Tumblr odio artisan four loko sriracha ethnic salvia dreamcatcher. DIY beard butcher odio hashtag. Magna velit fugiat, banh mi nisi Intelligentsia commodo. Disrupt et twee Pinterest, church-key sapiente dreamcatcher leggings authentic you probably haven't heard of them nisi pug literally delectus slow-carb. Placeat et pop-up, food truck 3 wolf moon distillery try-hard PBR YOLO artisan 8-bit ethnic. Incididunt flannel tote bag, velit +1 nisi butcher Austin synth quinoa.

      p Banksy before they sold out consequat, cornhole you probably haven't heard of them culpa hoodie photo booth literally put a bird on it irony squid shabby chic. Kogi voluptate eu put a bird on it dreamcatcher, XOXO squid consectetur food truck polaroid stumptown messenger bag dolore commodo letterpress. Culpa 3 wolf moon exercitation Banksy retro DIY. PBR pickled Truffaut before they sold out, accusamus meggings proident farm-to-table jean shorts locavore sustainable. Umami fixie commodo, McSweeney's iPhone aesthetic pickled. Cillum proident salvia mlkshk, ex forage tote bag Echo Park Banksy American Apparel master cleanse exercitation semiotics synth vero. Quinoa tote bag voluptate, Blue Bottle ullamco fugiat kitsch eiusmod Schlitz Shoreditch flexitarian brunch officia 90's.

      p Mustache cardigan fugiat, flexitarian chambray voluptate odio DIY ennui selvage. Dolor consectetur Blue Bottle, Schlitz nulla et chia. Vice laborum Cosby sweater twee deserunt. Odd Future eu organic, Truffaut fugiat cupidatat Austin American Apparel nulla pariatur Etsy fanny pack Helvetica. Elit hoodie veniam viral authentic kale chips, wolf ea roof party nostrud. Nihil id narwhal, single-origin coffee ut ethical YOLO kale chips nostrud labore qui banjo tousled street art. Seitan scenester freegan mlkshk fap, pour-over culpa.

      p Do you need some dummy text? *sigh* Of course you do.

      p I bet you still use Helvetica too…

    div.col-xs-12.col-md-4
      div.well
        include partials/leaderboard-partial

block inlinescript
  script.
    $('.leaderboard-table tbody tr:first-child').addClass("success").children("td").addClass("text-success");