!!!
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include partials/nav

    block jumbotron

    main.container
      section
        block content

      include partials/footer


    if user
      script.
        var loggedInUser = '#{user}';
    else
      script.
        var loggedInUser = null;
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='https://login.persona.org/include.js')
    script(src='/scripts/main.js')
