!!!
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  header.jumbotron
    div.container
      h1 Mozilla One-and-Done!
      p Thanks for stopping by.

  main.container
    section
      block content

    hr

    footer
      p &copy; Mozilla 2013

  script(src='//code.jquery.com/jquery-1.10.2.min.js')
