extends layout

block content

  header.page-header
    h1 Leaderboard&nbsp;
      small: span.glyphicon.glyphicon-fire.heart

  table.table.table-hover.table-condensed.table-responsive.table-bordered
    thead
      tr
        th User
        th.text-right Tasks Completed

    tbody
      - each value, key in users
        tr
          td #{key}
          td.text-right #{value.totalTasks}
