extends layout

block content

  h2 Leaderboard

  table.table.table-hover.table-condensed.table-responsive
    thead
      tr
        th User
        th.text-right Tasks Completed

    tbody
      - each value, key in users
        tr
          td #{key}
          td.text-right #{value.totalTasks}
