* {
  font-family: 'Fira Sans' !important;
}
body {
  padding-bottom: 100px;
}

.copy {
  font-weight: 300;
}

.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
.ico {
  padding: 0 0.5em;
}
.dino {
  font-size: 4em;
  padding: 0 10px;
}
.leaderboard-panel {
  padding-top: 0;
}
.red {
  color: red;
}
.green {
  color: green;
}
.user {
  font-weight: 700;
}

/*
.leaderboard-table tbody tr:first-child td {
  color: green;
  font-weight: bold;
}
*/
