* {
  font-family: 'Fira Sans' !important;
}
body {
  padding-bottom: 100px;
}

.copy {
  font-weight: 300;
}

.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
.ico {
  padding: 0 0.5em;
}
.dino {
  font-size: 5em;
  padding: 0 20px;
}
.leaderboard-panel {
  padding-top: 0;
}
.red {
  color: red;
}
.green {
  color: green;
}
.user {
  font-weight: 700;
}
